---
/**
 * AWS legal footer links and copyright notice.
 * Used in PageFrame.astro (docs pages) and index.astro (landing page).
 */
---

<p class="copyright">
  <a href="https://aws.amazon.com/privacy" target="_blank" rel="noopener noreferrer">Privacy</a>
  |
  <a href="https://aws.amazon.com/terms" target="_blank" rel="noopener noreferrer">Site Terms</a>
  |
  <a href="#" id="cookie-preferences">Cookie Preferences</a>
  |
  &copy; 2026, Amazon Web Services, Inc. or its affiliates. All rights reserved.
</p>

<style>
  .copyright {
    font-size: var(--sl-text-sm);
    color: var(--sl-color-gray-3);
    margin: 0;
  }

  .copyright a {
    color: var(--sl-color-gray-3);
    text-decoration: none;
  }

  .copyright a:hover {
    color: var(--sl-color-white);
    text-decoration: underline;
  }
</style>
